[Unit]
Description=MoProxy transparent TCP proxy daemon.
After=network.target

[Service]
Type=notify
DynamicUser=yes

WatchdogSec=5
Restart=on-failure

EnvironmentFile=/etc/moproxy/config.env
ExecStart=/usr/bin/moproxy -h $HOST -p $PORT --list $PROXY_LIST $DAEMON_ARGS
ExecReload=/usr/bin/kill -HUP $MAINPID

LimitNOFILE=32768
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelModules=true
ProtectControlGroups=true

## Wait for WAN interface up
# ExecStartPre=/usr/lib/systemd/systemd-networkd-wait-online --interface=ppp0

[Install]
WantedBy=multi-user.target

